<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | 192 Viagens</title>
    <link rel="icon" type="image/x-icon" href="CSS/192logo03_OeG_icon.ico">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,300;1,400;1,700&family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body style="background-color: #213363; color: beige">
    
<!-- Nav & Header Services -->

    <div class="container-head services position-relative">
        <nav class="navbar navbar-expand-md bg-body-tertiary bg-opacity-50 fixed-top" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                    <img src="CSS/img/LOGO/192LOGO03.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" style="transform:scale(2)">
                    192 Viagens
                    </a>
                </div>

            <button class="navbar-toggler position-absolute top-0 end-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#consultancy">Consultancy</a></li>
                        <li><a class="dropdown-item" href="#personalizedRoutes">Personalized Routes</a></li>
                        </ul>
                    </li>
                <li class="nav-item">
                    <a class="nav-link active text-nowrap" aria-current="page" href="ourHistory.html">Our History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-nowrap" href="startplanning.html">Start Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-nowrap" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-nowrap" href="contact.html">Contact</a>
                </li>
                
                </ul>
            </div>
            </div>
        </nav>

        <div class="position-absolute top-50 start-50 translate-middle text-uppercase" style="color: #213363;">
            <h2>Services</h2>
        </div>
        
    </div>

<!-- Types of services -->
    <div class="py-5 container" >
        <div class="border-bottom text-center" id="consultancy" >
            <h3 class="text-center text-uppercase pb-2"> Consultancy</h3>
            <p>Advise clients about options for travel in accordance with stated objectives.</p>
            <p>Facilitate travel arrangements and accommodations.</p>
            <p>Make sure that clients have all the necessary documentation required to travel to their destinations.</p>
            <p class="d-inline-flex gap-1">
                <a class="text-reset text-uppercase" data-bs-toggle="collapse" href="#collapseConsultancy" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Prices
                </a>
            </p>
             <!-- Collapse Consultancy -->
            <div class="collapse" id="collapseConsultancy">
              <div class="card card-body">
                <p class="text-uppercase fw-bold fs-5 d-block">$30 <i class="text-reset text-decoration-none fw-normal text-lowercase">per reserved hotel</i></p>
                <p class="text-uppercase fw-bold fs-5">$30 <i class="text-reset text-decoration-none fw-normal text-lowercase">per transportation between cities</i></p>
                <p class="fw-bold fs-6">15% discount if choose both</p>
              </div>
            </div>
          </div>
        
    
        <div class="border-bottom pt-4 text-center" id="personalizedRoutes">
            <h3 class="text-center text-uppercase pb-2">Personalized Routes</h3>
            <p>Create an individual route following you requirements and desires. Travel the way you like to</p>
            <p>Detailed map day to day for every city.</p>
            <p>File detaling and explaining important things about the place</p>
            
            <p class="d-inline-flex gap-1">
                <a class="text-reset text-uppercase" data-bs-toggle="collapse" href="#collapsePR" role="button" aria-expanded="false" aria-controls="collapsePR">
                  Prices
                </a>
            </p>
            <!-- COLLAPSE PERSONALIZED -->
        <div class="collapse" id="collapsePR" style="background-color: #D3D04F;">
          <h4 class="text-uppercase pt-3 ps-3">Plans:</h4>
          <div class="card card-body border-0" style="background-color: #D3D04F;">
            <div class="row" >
              
              <!-- Personalized -->
              <div class="col-md-4 card card-body border-0 shadow cardplans">
                  <div class="border-0">
                      <h5 class="text-uppercase card-title cardplans">personalized</h5>
                  </div>
                  
                  <ul class="position-relative list-group">
                      <li class="list-group-item">Route 100% personalized and exclusive. Including map and support material</li>
                      <li class="list-group-item">Days and Time optimization</li>
                      <li class="list-group-item">Exclusive Tips</li>
                      <li class="list-group-item">Support before travelling
                          <span class="price position-absolute top-100 end-0 translate-middle-y rounded-circle p-2 py-3 text-uppercase text-end fw-bold fs-3 shadow-4-strong">
                              $40</span>
                          
                      </li>
                  </ul>
                  <p class="text-normal fw-bold fs-6 pt-1" style="position:relative; left:62%; ">per day</p>
                  
                  
                  
              </div>
              <!-- Premmium -->
              <div class="col col-md-4 card card-body border-0 shadow cardplans">
                  <div class="border-0">
                      <h5 class="text-uppercase card-title">Premium</h5>
                  </div>
                  
                  <ul class="list-group">
                      <li class="list-group-item">Route 100% personalized and exclusive. Including map and support material</li>
                      <li class="list-group-item">Days and Time optimization</li>
                      <li class="list-group-item">Exclusive Tips</li>
                      <li class="list-group-item">Support before travelling</li>
                      <li class="list-group-item">Hotel and activies suppliers <br> indications
                          <span class="price position-absolute top-100 end-0 translate-middle-y rounded-circle p-2 py-3 text-uppercase text-end fw-bold fs-3 shadow-4-strong">
                          $60</span>
                      </li>
                  </ul>
                  <p class="text-normal fw-bold fs-6 pt-1" style="position:relative; left:62%; ">per day</p>
              </div>
              
              <!-- Honney Moon -->
              <div class="col col-md-4 card card-body border-0 shadow cardplans">
                  <div class="border-0">
                      <h5 class="text-uppercase card-title">Honney moon</h5>
                  </div>
                  
                  <ul class="list-group">
                      <li class="list-group-item text-uppercase text-center fw-bold">Premium Plan</li>
                      <li class="list-group-item text-center"><i class="fa-solid fa-plus fs-4"></i></li>
                      <li class="list-group-item">Reservations of:
                          <ul>
                              <li>Transfers</li>
                              <li>Hotels</li>
                              <li>Tickets</li>
                              <li>Restaurants</li>
                          </ul>
                      
                          <span class="price position-absolute top-100 end-0 translate-middle-y rounded-circle p-2 py-3 text-uppercase text-end fw-bold fs-3 shadow-4-strong">
                              $80</span>
                      </li>
                  </ul>
                  <p class="text-normal fw-bold fs-6 pt-1" style="position:relative; left:62%; ">per day</p>
              </div>
            </div>
          </div>
        </div>
             
        </div>
        
       
    
        
    </div>
<!-- Types of services -->
    
<!-- Footer -->
    <footer class="text-center text-lg-start" style="background-color: #17594A; color: beige">
        <!-- Section: Social media -->
            <section class="d-flex justify-content-center p-4 border-bottom">
          <!-- Left -->
                <div class="me-5 d-none d-md-block">
                    <span>Get connected with us on social networks:</span>
                </div>
          <!-- Left -->
      
          <!-- Right -->
                <div class="" style="color: beige;">
                    <a href=https://www.instagram.com/192viagens/ target="_blank" class="me-4 text-reset" ><i class="fa-brands fa-instagram"></i></a>
                    <a href="" target="_blank" class="me-4 text-reset" ><i class="fa-brands fa-facebook"></i></a>
                    <a href="" target="_blank" class="me-4 text-reset" ><i class="fa-brands fa-youtube"></i></a>
                
                </div>
          <!-- Right -->
                </section>
        <!-- Section: Social media -->
      
                <!-- Section: Links  -->
                <section class="">
                  <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fa-solid fa-location-dot">  </i> 192 Viagens
                        </h6>
                        <p>
                          Everything you need for the best travel experience
                        </p>
                      </div>
                      <!-- Grid column -->
                  
                      <!-- Grid column -->
                      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                          Products
                        </h6>
                        <p>
                          <a href="services.html" class="text-reset">Consultancy</a>
                        </p>
                        <p>
                          <a href="services.html" class="text-reset">Personalized Routes</a>
                        </p>
                        
                      </div>
                      <!-- Grid column -->
                  
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                          Useful links
                        </h6>
                        <p>
                          <a href="ourHistory.html" class="text-reset">Our History</a>
                        </p>
                        <p>
                          <a href="startplanning.html" class="text-reset">Start Planning</a>
                        </p>
                        <p>
                          <a href="faq.html" class="text-reset">FAQ</a>
                        </p>
                        
                      </div>
                      <!-- Grid column -->
                  
                      <!-- Grid column -->
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> @192viagens</p>
                        <p>
                          <i class="fas fa-envelope me-3"></i>
                          192viagens@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +61 0413 154 516</p>
                      </div>
                      <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                  </div>
                </section>
                <!-- Section: Links  -->
            
                <!-- Copyright -->
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.1);">
                  © 2023 Copyright |    
                  <a class="text-reset text-decoration-none fw-bold" href="https://192viagens.com/">192viagens.com</a>
                </div>
                <!-- Copyright -->
        </footer>
<!-- Footer -->
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>    
    <script src="https://kit.fontawesome.com/6fc218cbb0.js" crossorigin="anonymous"></script>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
</body>